/app/*
!/app/addons
/app/addons/*
!/app/addons/b24_integration


/images/*
!/images/b24_integration

/admin.php
/api.php
/changelog.txt
/config.local.php
/config.php
/copyright.txt
/edost.txt
/index.php
/init.php
/install.html
/robots.txt
/store_closed.html
!/.htaccess
/request.txt

/upgrades

/design/*
!/design/backend
/design/backend/*
!/design/backend/templates
/design/backend/templates/*
!/design/backend/templates/addons
/design/backend/templates/addons/*
!/design/backend/templates/addons/b24_integration



!/design/themes
/design/themes/*
!/design/themes/yacht


/js/*
!/js/addons
/js/addons/*
!/js/addons/b24_integration

/var/*
!/var/langs/*

/.idea/**
